option_settings:
  - option_name: AWS_SECRET_KEY
    value: placeholder-value-change-me-key
  - option_name: AWS_ACCESS_KEY_ID
    value: placeholder-value-change-me-id
  - option_name: S3_ASSETS
    value: raclette-assets
  - option_name: DB_PREFIX
    value: test
  - option_name: OPENTOK_KEY
    value: placeholder-value-change-me-key
  - option_name: OPENTOK_SECRET
    value: placeholder-value-change-me-secret
  - option_name: HASH_KEY
    value: placeholder-value-change-me-id


