option_settings:
  - option_name: AWS_SECRET_KEY
    value: placeholder-value-change-me-key
  - option_name: AWS_ACCESS_KEY_ID
    value: placeholder-value-change-me-id
  - option_name: PARAM1
    value: raclette-assets
  - option_name: PARAM2
    value: idiap-scg-april2014
  - option_name: API_KEY
    value: placeholder-value-change-me-key
  - option_name: API_SECRET
    value: placeholder-value-change-me-secret
  - option_name: HASH_KEY
    value: placeholder-value-change-me-id
  - option_name: CAPTCHA_PRIVATE
    value: placeholder-value-change-me-key


