<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>raclette</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css"-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <!--script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!--link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css"-->
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>

  <!-- Mobile-friendly navbar -->
  <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar"
          data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>     
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Home</a>
        <a class="brand" href="#">Application</a>
        <a class="brand" href="#">Profile</a>
        </div>
    </div>
  </div>

  <!-- This will be filled with questions -->
  <div id="application">  
  </div>



  <!--script id="VideoQuestionTemplate2" type="text/template">
    <div class="container">
      <div class="row-fluid questionHeader">
	<div><%= title %></div><span class="label label-warning"><%= uploaded %></span>
      </div>
      <div class="row-fluid videoEntry">
	  <video id="camera-preview" controls="false" src="" poster="<%= poster %>" style="border: 1px solid #ccc;" width="250" height="195"  ></video>
      </div>
      <div class="row-fluid videoControls">
	<button class="btn btn-success btn-small" id="play-button">Play</button>  
	<button class="btn btn-success btn-small" id="record-button">Record</button>  
	<button class="btn btn-success btn-small" id="upload-button">Upload</button>    
      </div>
    </div>
  </script-->


  <script id="VideoQuestionTemplate" type="text/template">
    <div class="container">
      <div id="VideoQuestionContainder">       
	<div class="container">
	   <div class="panel panel-<%= status %>">
	      <div class="panel-heading">
		<!-- size of logo can be changed by changing the font-size of span" -->
		<h4 class="panel-title"><span class="glyphicon glyphicon-facetime-video"></span>  <a data-toggle="collapse" data-parent="#accordion" href="#<%= qid %>"><%= title %></a></h4>
	      </div>
	      <div id="<%= qid %>" class="panel-collapse collapse">
	      <div class="row-fluid videoEntry">
		<video id="camera-preview" controls="false" src="" poster="<%= poster %>" style="border: 1px solid #ccc;" width="250" height="195"  ></video>
	      </div>
	      <div class="row-fluid videoControls">
		<button class="btn btn-success btn-small" id="play-button">Play</button>  
		<button class="btn btn-success btn-small" id="record-button">Record</button>  
		<button class="btn btn-success btn-small" id="upload-button">Upload</button>    
	      </div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </script>


<div id="DocContainder">       
  <div class="container">
     <div class="panel panel-success">
	<div class="panel-heading"> <!-- size of logo can be changed by changing the font-size of span" -->
          <h4 class="panel-title"><span class="glyphicon glyphicon glyphicon-file"></span>  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Resume</a></h4>
        </div>
	<div id="collapseOne" class="panel-collapse collapse">
        	<href a="https://www.idiap.ch/~jibiel/docs/joanisaacbiel_resume.pdf">resume.pdf</div>
	</div>
      </div>
    </div>
  </div>
</div>




<div id="VideoQuestionContainder">       
  <div class="container">
     <div class="panel panel-completed">
	<div class="panel-heading">
          <!-- size of logo can be changed by changing the font-size of span" -->
          <h4 class="panel-title"><span class="glyphicon glyphicon-facetime-video"></span>  <a data-toggle="collapse" data-parent="#accordion" href="#collapseVideoQuestion">Please introduce yourself.</a></h4>
        </div>
	<div id="collapseVideoQuestion" class="panel-collapse collapse">
        <div class="row-fluid videoEntry">
	  <video id="camera-preview" controls="false" src="" poster="img/screen-record.gif" style="border: 1px solid #ccc;" width="250" height="195"  ></video>
        </div>
        <div class="row-fluid videoControls">
	  <button class="btn btn-success btn-small" id="play-button">Play</button>  
	  <button class="btn btn-success btn-small" id="record-button">Record</button>  
	  <button class="btn btn-success btn-small" id="upload-button">Upload</button>    
        </div>
	</div>
      </div>
    </div>
  </div>
</div>



<div id="RandomContainer">       
  <div class="container">
     <div class="panel panel-uncompleted">
	<div class="panel-heading">
	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	      Question goes here
	    </a>
	  </h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse">
	  <div class="panel-body">Response goes here.
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>



  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/models/video.js"></script>
   <script src="js/collections/video.js"></script>
  <script src="js/collections/support.js"></script> 
  <script src="js/views/video.js"></script>
  <script src="js/views/application.js"></script>
  <script src="js/app.js"></script>
</body>
</html>

   


