
/* large desktop */ 
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
    .linediv-l { 
        border-right: 1px white solid;
    }
    .linediv-r { 
        border-left: 1px white solid;
    }
}

/* landscape phones and down */
@media (max-width: 480px) {
    .copy {
        padding: 2.5% 10%;
    }
    .linediv-l { 
        border-bottom: 1px white solid;
    }
    .linediv-r { 
        border-top: 1px white solid;
    }
}

/* all form factors*/

/* main body and headings */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
} 
p {
    font-size: 18px;
    line-height: 24px;
}
ul {
    font-size: 18px;
}
li {
    padding-top: 1.5%;
} 

/* ideo pitch and action */
.pitch {
    padding: 2.5% 0%;
} 
.order {
    padding: 2% 0%;
} 
.actions {
    background-color: #343434;
    padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics {
    text-align: center;
}
.buttons {
    text-align: center;
}
.statistics h3, .statistics p{
    color: white;
}

/* marketing copy and footer */
.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}
.asset {
    padding: 2.5% 0%;
}
.footer {
    color: #cccccc;
    text-align: center;
}
.footer p {
    font-size: 11px;      
}
.footer a {
    color: #ccccff;
}


.panel-completed {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* selected using http://www.colorhexa.com/468847 */
.panel-uncompleted {
    color: #884746;
    background-color: #f0d8df;
    border-color: #e9c6d6;
}



