     <div id="PanelContainer" class="container">
         <div class="row-fluid">
            <div id="QuestionContainer" class="span6 offset2">
            </div>
            <div id="ChronoContainer" class="span2">
         </div>
         <div class="row-fluid">
            <div id="MainContainer" class="span8 offset2">
           <% if (status == "success") { %>
           <p>Thanks for your submission! We will review your application and go back to you briefly.</p>
           <% } %>
            <% if (status == "error") { %>
           <p>Oops! Something went wrong! Please try again or contact us if the problem persists.</p>
           <% } %>
            </div>
         </div>
     </div>
