<div id="PanelContainer" class="container">
  <div class="col-md-8 white-panel well">
    <div class="row-fluid">
           <% if (status == "success") { %>
           <p>Thanks for your submission! We will review your application and go back to you briefly.</p>
           <% } %>
            <% if (status == "error") { %>
           <p>Oops! Something went wrong! Please try again or contact us at idiapsc.jobs@gmail.com if the problem persists.</p>
           <% } %>
            </div>
         </div>
</div>
