<div class="container-full">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div id="Announcement" class="well">
          <h1>FAQ</h1>
          <br> 
	  <h4>When is the deadline for the application? When do positions start?</h4>
	  <p>There is no specific deadline. Positions are to start asap, so we encourage you 
	  to submit asap too. We will start examining applications on Friday May 23rd.</p>
          <br>
	  <h4>I just completed the XX year of college. Am I eligible as an intern?</h4>
	  <p>You have to be finished your bachelor or your first year of master
	  at the time of starting your internship. PhD students can apply
	  for an internship at any time.</p>
          <br>
	  <h4>I am not a EU or Swiss citizen. Can I still apply for an
	  internship?</h4>
	  <p>Yes, as long as you are interested in a six-month internship
	  period.</p>
          <br>
	  <h4>Do internships or PhD research assistants get paid? Is that
	  enough for living in Switzerland?</h4>
	  <p>Internships other than EPFL master thesis projects
	  and EPFL student projects are paid. Interns receive
	  a stipend of 2000 CHF/month. This is enough to pay
	  food, accommodation, and services in Switzerland.</p>
	  <p>PhD students are hired as research assistants and
	  paid according to the Swiss National Science Foundation
	  (SNSF) salary brackets. The official numbers can be found
	  <a href="http://www.snf.ch/SiteCollectionDocuments/allg_doktorierende_e.pdf">here</a>.</p>
          <br>
	  <h4>Can I have more information about the projects?</h4>
	  <p>Please consult the <a href="http://www.idiap.ch/~gatica/projects.html">project page</a> of the social computing
	  group to get an idea of the ongoing projects. We will
	  contact you with more details in case you are chosen
	  for the next stage of the recruitment process.</p>
          <br><br>
          <p>last updated on May 15th, 2014</p>
      </div>
    </div>
  </div>
</div>


