<div class="container-full">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div id="Announcement" class="well">


          <h3>Welcome!</h3>
          <p>The following interview prepared by the Idiap Social Computing Group
          consists of <%= num_questions %> and will last around <%= duration %> minutes.</p>
          <br>
	  <h4>How does this interview work?</h4>
	  <p>1. You will be asked several questions to be answered by video</p>
          <p>2. Once you see the question, you will have 1 minutes to think about your response.</p>
          <p>3. After the time is over, you will have 4 minutes to respond.</p>
	  <p>4. You don't have to use all the waiting and responding time allocated if you don't need to.</p>
	  <p>5. You cannot stop the interview once its starts, but you can pause for a bit between questions if you really need to.</p>
          <br>
	  <h4>What do I need?</h4>
	  <ul>
	    <li><p>A reliable internet connnection (at least 1Mb of upstream) </p></li>
	    <li><p>Chrome browser (at least version 32)</p></li>
	    <li><p>A webcam & microphone (built-in webcams and microphones are OK)</p></li>
	    <li><p>A quiet place</p></li>
	    <li><p>A well-lit room (make sure no light is directly in view of the webcam)</p></li>
	  </ul>
          <br>


	 <h4>What happens with the data recorded here? (Terms of Service)</h4>


	  <p>Participation in the video interview is voluntary.</p>

	  <p>The data recorded here belongs to you, and therefore, we
	    will provide you with a copy within the next 30 days.
	    By accepting these terms of service, you license a copy of
	    the data to us that we can store up to 2 years. After
	    this period the data will be deleted.</p>

	  <p>Our copy of the data will be used for recruitment and research
	    purposes. The videos will be viewed by authorized people for
	    recruitment and research and will be handled as confidential.
	    The data will not be shared, distributed, or sold to any third
	    parties.</p>

	  <p>You will be notified if these TOS need to change in the future.</p>
          <br>


	  <h4>How do I proceed?</h4>
          <p>
	    First, you need to agree with the TOS if you want to take
	    the video interview. Second, we will give you some hints
	    on some best practices to record the video. Third, you will go through
	    
	    the process of setting up the webcam and microphone. Finally,
	    you will have some time to practice for the interview
	    before you start.</p>


	  <div class="form-group">
            <input type="checkbox" id="checkbox"> I agree with the terms of service.<span class="help-block hidden"></span>
          </div>

          <button type="submit" class="btn btn-primary" id="intro-continue">Continue</button>
      </div>
    </div>
  </div>
</div>


