<div class="container-full">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div id="Announcement" class="well">


          <h3>Best practices (under construction)</h3>
          <p>You can skip to the next page, for now.</p>

	  <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/camera-icon.png" width="430" yalt="">
          <br>
          <p><span class="label label-danger">GOOD</span> Good lighting, good perspective and distance.</p>
          <br>
	  <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/camera-icon.png" width="430" yalt="">
          <p><span class="label label-success">BAD</span> Bad perspective. Place your camera at the high of your face</p>
          <br>
	  <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/camera-icon.png" width="430" yalt="">
          <p><span class="label label-success">BAD</span> Source light coming from the background</p>
          <br>
	  <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/camera-icon.png" width="430" yalt="">
          <p><span class="label label-success">BAD</span> Too dark.</p>

	  <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/camera-icon.png" width="430" yalt="">
          <p><span class="label label-success">BAD</span> Too close to camera.</p>

          <button type="submit" class="btn btn-primary" id="examples-continue">Continue</button>
      </div>
    </div>
  </div>
</div>


