<div class="container-full">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div id="Announcement" class="well">
          <h3>Welcome!</h3>
          <p>The following interview prepared by the Idiap Social Computing Group
          consists of <%= num_questions %> questions.</p>
          <br>
	  <h4>How does this interview work?</h4>
	  <p>1. You will be asked several questions to which you will respond by video.</p>
          <p>2. Once you see the question, you will have a limited amount of time to think about your response.</p>
          <p>3. After the time is over, you will have a limited amount of time to respond.</p>
	  <p>4. You don't have to use all the waiting and responding time allocated. You can start and stop the recording as you want.</p>
	  <p>5. You cannot stop the interview once its starts, but you can pause a bit between questions.</p>
          <br>
	  <h4>What do I need?</h4>
	  <ul>
	    <li><p>A reliable internet connnection</p></li>
	    <li><p>Chrome browser (at least version 32)</p></li>
	    <li><p>A webcam & microphone (plug-in webcams and microphones are ok)</p></li>
	    <li><p>A quiet place</p></li>
	    <li><p>A well-lit room (make sure no light is directly in view of the webcam)</p></li>
	  </ul>
          <br>
	  <h4>How do I proceed?</h4>
          <p>First, you will go through the process of setting up the webcam
          and microphone. Then, you will have some time to practice for the interview before you start.</p>

          <button type="submit" class="btn btn-primary" id="intro-continue">Continue</button>
      </div>
    </div>
  </div>
</div>


