<div class="container-full">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div id="Announcement" class="well">


          <h3>Best practices</h3>
          <p>Please inspect the following  examples of how you should look or not in front of your webcam.</p>

	  <div class="row">
	    <div class="col-md-6">
	      <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/example1.jpg" width="320" yalt="">
              <br>
	    </div>
	  </div>
          <div class="row">
	    <div class="col-md-12">
            <p><span class="label label-success">GOOD</span> Good natural lighting, framing, and distance to the camera.</p>
	    <br>
            </div>
	  </div>


	  <div class="row">
	    <div class="col-md-6">
	      <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/example2.jpg" width="320" yalt="">
              <p><span class="label label-danger">BAD</span> Bad framing. Do not cut off part of your head</p>
              <br>
	    </div>
	    <div class="col-md-6">
	      <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/example3.jpg" width="320" yalt="">
              <p><span class="label label-danger">BAD</span> Bad framing. Do not cut off your shoulders</p>
              <br>
	    </div>
	  </div>


	  <div class="row">
	    <div class="col-md-6">
	      <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/example5.jpg" width="320" yalt="">
              <p><span class="label label-danger">BAD</span> Too dark</p>
	      <br>
	    </div>
	    <div class="col-md-6">
	      <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/example4.jpg" width="320" yalt="">
              <p><span class="label label-danger">BAD</span> Avoid backlights</p>
	      <br>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-md-6">
	      <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/example6.jpg" width="320" yalt="">
	      <br>
	    </div>
	    <div class="col-md-6">
	      <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/example7.jpg" width="320" yalt="">
	      <br>
	    </div>
	  </div>
          <div class="row">
	    <div class="col-md-12">
            <p><span class="label label-danger">BAD</span> Avoid artifical lighting, specially directly to your face or to the camera</p>
	    <br>
            </div>
	  </div>


          <button type="submit" class="btn btn-primary" id="examples-continue">Continue</button>
      </div>
    </div>
  </div>
</div>


