<div id="InterviewContainer" class="container-full">
  <div class="row">
    <div class="col-md-7 col-md-offset-2  v-center interview">
      <div class="row">
        <div id="InfoContainer" class="col-md-12 alert hidden">  
          <p class="text-danger"></p>
        </div>
      </div>
      <div class="row">
        <div id="QuestionContainer" class="col-md-12">
          <h3><%= title %></h3>
        </div>
      </div> 
      <div class="row">
        <div id="MainContainer" class="col-md-8">
        </div>
        <div id="ChronoContainer" class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>






