<div id="InterviewContainer" class="container">
    <div class="row-fluid form-header">
      <div class="col-md-8">
          <div class="row">
            <div id="QuestionContainer" class="col-md-8">
            <p><%= title %></p>
            </div>
            <div id="ChronoContainer" class="col-md-4">
            </div>
         </div> 
          <div class="row">
            <div id="MainContainer" class="col-md-12">
            </div>
         </div>
       </div>
    </div>
</div>
   


