<div class="container-full">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div id="Announcement" class="well">
        <h2>Lights, camera, ...</h2>
        <div class="row">
          <div class="col-md-12">
	    <div id="opentok_container">
	      <div id="publisher"></div>
	    </div>
            <br>
            <h4>Can you see yourself?</h4>
            <p>then, click Next</p>
            <button type="submit" class="btn btn-primary" id="setup-done">Next</button>
	    <br>
            <h4>Having troubles?</h4>
            <p>Check the webcam icon located at the address bar and make sure that you are selecting the
              webcam and microphone you intend to use. </p>
            <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/camera-icon.png" width="430" yalt="">
            <p>Note that if you change the webcam or microphone set by default you may be asked to reload the browser, in which case
              you will be sent to the first page. This is totally normal. Once your webcam and microphone are selected correctly,
              you won't need to change them again.</p>

            <br>
            <p>If you still have problems. First, close all applications that might be using your webcam and microphone (eg. FaceTime, Skype, Youtube, Gmail, etc.). Then, close your browser and try again. If the problem persists contact us at idiapsc.jobs@gmail.com.</p>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>  
