<div class="container-full">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div id="Announcement" class="well">
        <h2>Lights, camera, ...</h2>
        <div class="row">
          <div class="col-md-12">
            <h4>Let's start by setting up the webcam and microphone for the interview.</h4>
            <p>After clicking Next, we will ask you for permission to use your camera and microphone.</p>
	    <img src="https://s3-eu-west-1.amazonaws.com/raclette-public/opentok-access.png" width="430" alt="">

            <br>
	    <br>
            <button type="submit" class="btn btn-primary" id="setup-continue">Next</button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
