<option value="">Select an option...</option>
<optgroup label="through an email list">
<option value="list-ml">ml-news, mm-interest, euromm, sigmm, etc</option>
</optgroup>
<optgroup label="through a website">
<option value="kdd">Kdnuggets</option>
<option value="sc">scolarshipdb.net</option>
</optgroup>
<optgroup label="through academia">
<option value="epfl">EPFL channels</option>
<option value="uni">Message posted in my university/institute/department</option>
</optgroup>
<optgroup label="through social media">
<option value="tw">Twitter</option>
<option value="fb">Facebook</option>
<option value="lk">Linkedin</option>
<optgroup label="through other channels">
<option value="other">Different from the above</option>
</optgroup>

