<option value="">Select an option...</option>
<optgroup label="through an email list">
<option value="list-ml">ML-news</option>
<option value="list-mm">mm-interest</option>
</optgroup>
<optgroup label="through a website">
<option value="web-kdd">Kdnuggets</option>
</optgroup>
<optgroup label="through other channels">
<option value="epfl">EPFL channels</option>
<option value="uni">Message posted in my university/institute/department</option>
<option value="tw">Twitter</option>
<option value="fb">Facebook</option>
<option value="other">Different from the above</option>
</optgroup>

