<div class="container-full">
    <div class="row-fluid form-header">                                                                                    
  	<p>Here are a number of personality traits that may or may not apply to you.</p>
	<p>Please give a number to each statement to indicate the extent to which you agree or disagree with that statement. You should rate the extent to which the pair of traits applies to you, even if one characteristic applies more strongly than the other.</p>
	<p>(1 = Disagree strongly, 2 = Disagree moderately, 3 = Disagree a little, 4 = Neither agree nor disagree,
5 = Agree a little, 6 = Agree moderately, 7 = Agree strongly)</p>

    </div>
    <div class="row-fluid form">
	 <form id="tipi" role="form">
          <label><p>I see myself as:</p></label>
	  <div class="col-md-11 col-md-offset-1">  
  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="E" class="E"><p>Extraverted, enthusiastic</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="E" id="E" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="E" id="E" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="E" id="E" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="E" id="E" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="E" id="E" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="E" id="E" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="E" id="E" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="A" class="A"><p>Critical, quarrelsome</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="A" id="A" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="A" id="A" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="A" id="A" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="A" id="A" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="A" id="A" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="A" id="A" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="A" id="A" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="C" class="C"><p>Dependable, self-disciplined</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="C" id="C" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="C" id="C" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="C" id="C" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="C" id="C" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="C" id="C" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="C" id="C" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="C" id="C" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="ES" class="ES"><p>Anxious, easily upset</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="ES" id="ES" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ES" id="ES" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ES" id="ES" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="ES" id="ES" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ES" id="ES" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ES" id="ES" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ES" id="ES" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="O" class="O"><p>Open to new experiences, complex</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="O" id="O" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="O" id="O" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="O" id="O" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="O" id="O" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="O" id="O" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="O" id="O" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="O" id="O" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="extra_inv" class="extra_inv"><p>Reserved, quiet</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="EI" id="EI" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="EI" id="EI" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="EI" id="EI" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="EI" id="EI" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="EI" id="EI" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="EI" id="EI" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="EI" id="EI" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="extra" class="extra"><p>Sympathetic, warm</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="AI" id="AI" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="AI" id="AI" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="AI" id="AI" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="AI" id="AI" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="AI" id="AI" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="AI" id="AI" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="AI" id="AI" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="extra" class="extra"><p>Disorganized, careless</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="CI" id="CI" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="CI" id="CI" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="CI" id="CI" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="CI" id="CI" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="CI" id="CI" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="CI" id="CI" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="CI" id="CI" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="extra" class="extra"><p>Calm, emotionally stable</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="ESI" id="ESI" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ESI" id="ESI" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ESI" id="ESI" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="ESI" id="ESI" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ESI" id="ESI" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ESI" id="ESI" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="ESI" id="ESI" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>

  	   <div class="form-group">
             <div class="row">		    
               <div class="col-md-9">
                <label for="extra" class="extra"><p>Conventional, uncreative</p></label><span class="help-block hidden"></span>
                <br>
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-default">
		    <input type="radio" name="OI" id="OI" value="1">1</label>
		  <label class="btn btn-default">
		    <input type="radio" name="OI" id="OI" value="2">2</label>
		  <label class="btn btn-default">
		    <input type="radio" name="OI" id="OI" value="3">3 </label>
		  <label class="btn btn-default">
		    <input type="radio" name="OI" id="OI" value="4">4</label>
		  <label class="btn btn-default">
		    <input type="radio" name="OI" id="OI" value="5">5</label>
		  <label class="btn btn-default">
		    <input type="radio" name="OI" id="OI" value="6">6</label>
		  <label class="btn btn-default">
		    <input type="radio" name="OI" id="OI" value="7">7</label>
		</div>
	       </div>
             </div>
           </div>
	  </div>




	 </form>
    </div>
</div>

                                
