<div id="PanelContainer" class="container">
  <div class="col-md-8 white-panel well">
    <div class="row-fluid">
      <h3>Welcome to the Idiap Social Computing Group recruitment system.</h3>
    </div>
    <div class="row-fluid">
      <div id="TOS">
        <p>The information that you provide in your application is confidential and will be treated as such. 
          We will use this data to evaluate your profile, which may include the use of data analysis methods. 
          Finally, you acknowledge that the information you provide is true and accurate</p>
        <div class="form-group">
          <input type="checkbox" id="checkbox"> I agree.<span class="help-block hidden"></span>
        </div>
        <div id="captcha"></div>
        <button type="submit" class="btn btn-primary" id="agree">Start</button></span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type="text/javascript">
Recaptcha.create("6Le0oPMSAAAAAJFutLb15QyPWv4BX8STGJT-AJ5p",
    "captcha",
    {
      theme: "red",
      callback: Recaptcha.focus_response_field
    }
  );
</script>
