
     <div id="PanelContainer" class="container">
         <div class="row-fluid">
            <div id="QuestionContainer" class="span6 offset2">
            </div>
            <div id="ChronoContainer" class="span2">
         </div>
         <div class="row-fluid">
             <div id="headCont" class="col-md-8">
             <h3>Welcome to the Idiap Social Computing Group recruitment system.</h3>
             </div>
         </div>
         
         <div class="row-fluid">
            <div id="TOS" class="col-md-8">
              <p>All the information that you provide in your application is confidential 
              and we will treated as such. 
              We will only use this data  to evaluate your profile, which may include doing some basic 
              data analysis on it. Finally, you acknowledge that the information give about you is 
              true and accurate.</p>
              <div class="form-group">
                <input type="checkbox" id="checkbox"> I agree.<span class="help-block hidden"></span>
              </div>
              <button type="submit" class="btn btn-primary" id="agree">Start</button></span>
            </div>
         </div>
     </div>
